<section id="about" class="about">
    <h2 class="about__title">
        À propos
    </h2>
    <div class="about__talk container">

        <div class="about__talk">

            <p class="talk__interlocutor talk">
                Tu peux te présenter s'il te plaît.
            </p>
        
            <p class="talk__reply talk">
                Je suis Maxence, passionné par l'informatique depuis tout jeune. j'ai décidé d'en faire ma profession à partir de l'âge de 30 ans. Je me suis automatiquement lancé dans le développement web, un domaine où je m'épanouis pleinement. 
            </p>
        
            <p class="talk__interlocutor talk">
                Ok, et tu sais faire quoi dans le développement web ?
            </p>
            
            <p class="talk__reply talk">
                Je connais le HTML/CSS, JavaScript et PHP, notamment avec ReactJS et Symfony. Je comprend le pattern MVC, je sais faire un MCD, et j'aime la plongée... 
            </p>
        
            <p class="talk__interlocutor talk">
                Ah t'es poète ? 
            </p>
        
            <p class="talk__reply talk">
                Non, développeur pourquoi ? 
            </p>
        
            <p class="talk__interlocutor talk">
                Pour rien, comme ça... Et tu es bon la dedans ? 
            </p>

            <p class="talk__reply talk">
                Bon... Je dirais plutôt que je me débrouille bien et que j'apprends vite. 
            </p>

            <p class="talk__interlocutor talk">
                D'accord. Et quelqu'un peut attester que "tu te débrouille bien" ? 
            </p>



            <p class="talk__reply talk">
                Je n'ai pas encore eu la chance d'intégrer une entreprise mais, j'ai toujours surmonté les différents soucis que j'ai rencontrés tout au long de mes projets. Je viens de passer mon Titre Pro développeur et web mobile et j'ai la certification Opquast (maîtrise de la qualité en projet web).
            </p>

            <p class="talk__interlocutor talk">
                Ah cool ! Tu peux me dire pourquoi le développement web et seulement à 30 ans? 
            </p>

            <p class="talk__reply talk">
                Oula... Pour tout dire, j'étais mécanicien poids lourds avant et je dois avouer que je n'étais plus du tout en adéquation avec les pratiques de ce domaine. Pour pallier à ça, j'ai décidé de me reconvertir. Le développement web s'est tout naturellement imposé parce que j'y avais un peu touché par le passé et que j'avais "surKiffé". Tout ça à 30 ans, parce que je pense qu'il m'a fallu un peu de temps pour me rendre compte de ce que j'appréciais vraiment.
            </p>
           
            <p class="talk__interlocutor talk">
                Ok ok... C'est tout nouveau pour toi alors, le web, le travail en équipe, toussa toussa.
            </p>

            <p class="talk__reply talk">
                Oui et non. Dans le sens où : Oui, je n'ai pas encore intégré de service professionnel, et non, j'ai beaucoup appris avec mes projets personnels et avec la formation O'clock lors de laquelle j'ai pu travailler en méthode Agile au sein d'une équipe de 5 développeurs où chacun apporter sa contribution sur un repository github.
            </p>

            
            <p class="talk__interlocutor talk">
                Je vois... Plutôt "Remote" ou présentiel ?
            </p>
            
            
            <p class="talk__reply talk">
                Les deux. J'aime surtout allier vie pro et vie privée. 
            </p>
           
            <p class="talk__interlocutor talk">
                Intéressant... Pour ce qui est de la vie privée, tu peux m'en dire plus ?
            </p>

            
            <p class="talk__reply talk">
                Oui bien sur, je suis ***** avec ***** ***** et j'ai également **** ********. J'habite ***** ********* dans le département de la ***** et c'est à peu près tout.
            </p>

           
            <p class="talk__interlocutor talk">
                Je n'ai pas tout compris mais bon... Des points forts, des faiblesses?
            </p>

            <p class="talk__reply talk">
                Eh bien, en points forts... Je dirais que je suis curieux, j'aime apprendre des nouvelles technos et comprendre comment elles fonctionnent. Autonome, j'essaie au mieux d'apprendre par moi-même. Humble, je ne prétends jamais détenir la solution, j'en prosose une.
                <br> <br>
                Pour les défauts... Je dirais que je suis perfectionniste, le "pixel-perfect" est une obsession. Maladroit aussi... Je n'ai jamais réussi à mettre du dentifrice sur ma brosse à dents à la manière d'une pub.
            </p>


            <p class="talk__interlocutor talk">
                Ah oui, quand même... Tu te vois où dans 10 ans? 
            </p>

            <p class="talk__reply talk">
                Dans une école, à transmettre mes connaissances.
            </p>

            <p class="talk__interlocutor talk">
                C'est noté. Où est-ce que l'on peut te contacter ? 
            </p>

            <p class="talk__reply talk">
                Tout ce passe dans la section suivante, rubrique contact 😉
            </p>

        </div>
</section>