{% extends 'base.html.twig' %}

{% block body %}
<main>
    <section class="presentation">
        <h2 class="presentation__title">
            Salut, moi c'est Maxence
        </h2>
        <p class="presentation__text">
            
        </p>
        
        <div class="presentation__scroll"> 
            <div class="scroll__mouse">
                <div class="mouse__roller"></div>
            </div>
        </div>

        <img src="images/face.svg" class="presentation__img" alt="">
    </section>
</main>

{% include "skills/skills.html.twig" %}

{% include "achievements/achievements.html.twig" %}

{% include "about/about.html.twig" %}

{% include "contact/contact.html.twig" %}

{% endblock %}