<section id="achievements" class="achievements">
    <h2 class="achievements__title">
        Réalisations
    </h2>
    <div class="achievements__list container">

        <div class="list__item sorry">

            <h4 class="item__title">s'Orry</h4>

            <p class="item__description">
                Site humoristique listant des excuses de retard
            </p>

            
            <div class="item__technos">

                <div class="item__left">
                    <img class="item__img" src="{{ asset('images/sorry.png') }}" alt="">
                </div>
                <div class="item__right">
                    <h3 class="technos__title">Technologies utilisées :</h3>
                    <div class="technos__content">
                        <div class="technos__front">
                            <ul class="technos__list">
                                <li class="technos__items">ReactJs</li>
                                <li class="technos__items">Redux</li>
                                <li class="technos__items">Sass</li>
                                <li class="technos__items">Axios</li>
                            </ul>
                        </div>
                        <div class="technos__back">
                            <ul class="technos__list">
                                <li class="technos__items">Symfony</li>
                                <li class="technos__items">Doctrine</li>
                                <li class="technos__items">MySQL</li>
                                <li class="technos__items">SwiftMailer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="technos__features">
                        <h3 class="technos__title">Fonctionnalités :</h3>
                        <ul>
                            <li class="technos__items">Création de compte</li>
                            <li class="technos__items">Poster une excuse</li>
                            <li class="technos__items">Liker une excuse</li>
                            <li class="technos__items">Commenter une excuse</li>
                            <li class="technos__items">Consulter et trier les excuses</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="item__link" target="_blank" href="https://github.com/max-ans/sOrry">
                Visiter le repository Github
            </a>
        </div>

        <div class="list__item otd">
            
            <h4 class="item__title">O'ld the door</h4>
           
            <p class="item__description">
                Escape game textuel rétro
            </p>

            <div class="item__technos">
                
                <div class="item__left">
                    <img class="item__img" src="{{ asset('images/otd.png') }}" alt="">
                </div>
                <div class="item__right">
                    <h3 class="technos__title">Technologies utilisées :</h3>
                    <div class="technos__content">
                        <div class="technos__front">
                            <ul class="technos__list">
                                <li class="technos__items">ReactJs</li>
                                <li class="technos__items">Redux</li>
                                <li class="technos__items">Sass</li>
                                <li class="technos__items">Axios</li>
                            </ul>
                        </div>
                        <div class="technos__back">
                            <ul class="technos__list">
                                <li class="technos__items">Symfony</li>
                                <li class="technos__items">Doctrine</li>
                                <li class="technos__items">MySQL</li>
                                <li class="technos__items">API REST</li>
                            </ul>
                        </div>
                    </div>
                    <div class="technos__features">
                        <h3 class="technos__title">Fonctionnalités :</h3>
                        <ul>
                            <li class="technos__items">Création de compte</li>
                            <li class="technos__items">Jouer une partie d'escape game</li>
                            <li class="technos__items">Créer une aventure complète avec ses chapitres</li>
                            <li class="technos__items">Publier ou dépublier une aventure créée</li>
                            <li class="technos__items">Consulter et choisir l'aventure à jouer</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <a class="item__link" target="_blank" href="http://54.166.103.96/">
                Visiter le site dans un autre onglet
            </a>
        </div>

        <div class="list__item heures">
            
            <h4 class="item__title">Mes Heures</h4>
            

            <p class="item__description">
                Calculateur d'heures à la semaine avec espace privé
            </p>

            <div class="item__technos">
    
                <div class="item__left">
                    <img class="item__img" src="{{ asset('images/mes_heures.png') }}" alt="">
                </div>
    
                <div class="item__right">
                    <h3 class="technos__title">Technologies utilisées :</h3>
                    <div class="technos__content">
                        <div class="technos__front">
                            <ul class="technos__list">
                                <li class="technos__items">Javascript</li>
                                <li class="technos__items">MomentJs</li>
                                <li class="technos__items">Bootstrap</li>
                            </ul>
                        </div>
                        <div class="technos__back">
                            <ul class="technos__list">
                                <li class="technos__items">PHP</li>
                                <li class="technos__items">AltoRouter</li>
                                <li class="technos__items">AltoDispatcher</li>
                            </ul>
                        </div>
                    </div>
                    <div class="technos__features">
                        <h3 class="technos__title">Fonctionnalités :</h3>
                        <ul>
                            <li class="technos__items">Création de compte</li>
                            <li class="technos__items">Créer un tableau d'heures auto-calculées</li>
                            <li class="technos__items">Imprimer un tableau en un click</li>
                            <li class="technos__items">Sauvergarder un tableau sur mon espace personnel</li>
                            <li class="technos__items">Ajouter/Supprimer autant de tableaux que je le souhaite</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="item__link" target="_blank" href="https://github.com/max-ans/mes-heures">
                Visiter le repository Github
            </a>
        </div>

        <div class="list__item pass">
            
            <h4 class="item__title">Pass'Prass</h4>
            
            <p class="item__description">
                Porte feuille sécurisé pour documents administratifs
            </p>


            <div class="item__technos">

                <div class="item__left">
                    <img class="item__img" src="{{ asset('images/Image-Coming-Soon-400x400.jpg') }}" alt="">
                </div>
                <div class="item__right">
                    <h3 class="technos__title">Technologies utilisées :</h3>
                    <div class="technos__content">
                        <div class="technos__front">
                            <ul class="technos__list">
                                <li class="technos__items">Twig</li>
                            </ul>
                        </div>
                        <div class="technos__back">
                            <ul class="technos__list">
                                <li class="technos__items">Symfony</li>
                                <li class="technos__items">Doctrine</li>
                                <li class="technos__items">MySQL</li>
                
                            </ul>
                        </div>
                    </div>
                    <div class="technos__features">
                        <h3 class="technos__title">Fonctionnalités :</h3>
                        <ul>
                            <li class="technos__items">Création de compte</li>
                            <li class="technos__items">Téléverser un document personnel</li>
                            <li class="technos__items">Être averti lorsque celui-ci sera obselète</li>
                            <li class="technos__items">Visionner les échéances de chaque document</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <a class="item__link" target="_blank" href="#">
                Bientôt disponible
            </a>
        </div>
    </div>
</section>