<section id="achievements" class="achievements">
    <h2 class="achievements__title">
        Réalisations
    </h2>
    <div class="achievements__list container">
        <div class="list__item sorry">

            <h4 class="item__title">s'Orry</h4>

            <p class="item__description">
                Site humoristique listant des excuses de retard
            </p>
            <img class="item__img" src="{{ asset('images/sorry.png') }}" alt="">
            <a class="item__link" target="_blank" href="https://github.com/max-ans/sOrry">
                Visiter le repository Github
            </a>
        </div>

        <div class="list__item otd">
            <a class="item__link" target="_blank" href="http://3.219.236.7/">
                <h4 class="item__title">O'ld the door</h4>
            </a>
            <p class="item__description">
                Escape game textuel rétro
            </p>
            <img class="item__img" src="{{ asset('images/otd.png') }}" alt="">
            <a class="item__link" target="_blank" href="http://3.219.236.7/">
                Visiter le site dans un autre onglet
            </a>
        </div>

        <div class="list__item pass">
            <a class="item__link" target="_blank" href="">
                <h4 class="item__title">Pass'Prass</h4>
            </a>
            <p class="item__description">
                Porte feuille sécurisé pour documents administratifs
            </p>
            <img class="item__img" src="{{ asset('images/Image-Coming-Soon-400x400.jpg') }}" alt="">
            <a class="item__link" target="_blank" href="http://3.219.236.7/">
                Bientôt disponible
            </a>
        </div>
    </div>
</section>