{% block body %}

<h2>Message de la part de :</h2>

{{mail}}


<h1> Texte du message de l'utilisateur :</h1>

{{message}}

<br>
<br>
<br>

   


Ce message est envoyer automatiquement depuis le site Max-ans
!!!!!! ne pas repondre !!!!!!
{% endblock %}
